image:
  name: hashicorp/terraform:1.6
  entrypoint: [""]

stages:
  - deploy

variables:
  TF_IN_AUTOMATION: "true"

before_script:
  - cd terraform
  - terraform --version
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  - aws configure set default.region "$AWS_DEFAULT_REGION"

deploy:
  stage: deploy
  script:
    - terraform init
    - terraform validate
    - terraform apply -auto-approve
  only:
    - main
