image:
  name: hashicorp/terraform:1.6
  entrypoint: [""]

stages:
  - deploy

variables:
  TF_IN_AUTOMATION: "true"

before_script:
  - cd terraform
  - terraform --version

deploy:
  stage: deploy
  script:
    - cd terraform
    - terraform init
    - terraform validate
    - terraform apply -auto-approve
  only:
    - main
