image: hashicorp/terraform:1.6

stages:
  - deploy

variables:
  TF_IN_AUTOMATION: "true"

before_script:
  - terraform --version

deploy:
  stage: deploy
  script:
    - terraform init
    - terraform validate
    - terraform apply -auto-approve
  only:
    - main
